
/* Journal page */
.journal-field {
  width: 85%;
  height: 150px;
  padding: 12px 2px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.mood-button {
  border: none;
  width: 100%;
  padding: 20px 32px;
  margin-bottom: 6% !important;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px;
  /* cursor: pointer; */
  /* font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif; */
}

#anxious {
  background: #c22ed0;
}

#calm {
  background: #b7cbff;
}

#depleted {
  background: #f2ecb6;
}

#discouraged {
  background: #a96f44;
}

#energized {
  background: #e3ff73;
}

#fearful {
  background: #af6480;
}

#frustrated {
  background: #f0566d;
}

#happy {
  background: #fea858;
}

#inspired {
  background: #ef33b1;
  /* background: #F98EF6; */
}

#overwhelmed {
  background: #fa5f40;
}

#sad {
  background: #0C7BB3;
}

#tired {
  background: #7DC387;
}

/* ombre code */
/* #frustrated {
  background: linear-gradient(to right, #E65758 0%, #771D32 100%);
} */




/* All Meditations page */
.col {
  margin-top: 50px;
  }
  
.meditation-detail {
margin-top: 20px;
}









/* Navbar */
.navbar {
  background-color: #b9e9d6;
  text-align: center; 
  width: 100%;
  display: block;
  /* padding: 10px 10px; */
  font-family: "Gill Sans", sans-serif;
  line-height: 1;
  letter-spacing: 0.05em;
  display: inline;
}

/* .container-fluid a {
  color: black;
  font-family: serif;
  font-family: "Gill Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  display: inline-block;
} */

.nav-links {
  color: black;
  font-family: "Gill Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
}

.nav-links:hover {
  color: purple;
}