<!doctype html>
<html>
  <head>
    <title>Mindful Moments</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="/static/css/site.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kite+One&family=Krona+One&family=Spartan&family=Trirong:ital,wght@1,200&display=swap" rel="stylesheet">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script> -->

  </head>
<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Mindful Moments</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/login">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  href="/create-account">Create Account</a> 
              </li>
            </ul>
          </div>
        </div>
      </nav>
      
    <div class="account-container">
    {% for msg in get_flashed_messages() %}
    <p class="flash-msg">
    {{ msg }}
    </p>
    {% endfor %}
    <div class="account-container">
  
        <form class="account-form" action="/handle-create-account" method="POST">
            <div id="account-title">Create an Account:</div>

            <div id="note"><small><em>Please note: This app requires a <a id="spotify-link" href="https://www.spotify.com/us/" target="_blank">Spotify account</a></em></small><div><br>

            <div id="required-fields"><small><em>*Please fill in the required fields</em></small></div><br>
            <div class="inputs-container">
            <div class="row account">
                <div class="col-lg-6 col-md-1 create-accnt">
                    <input class="create" id="group1" type="text" name="fname" placeholder="First Name*" required>
                    <input class="create" id="group2" type="text" name="lname" placeholder="Last Name*" required>
                </div>
            </div>
            <div class="row account">
                <div class="col-lg-6 col-md-1">
                    <input class="create" type="email" name="email" placeholder="Email Address" id="email*" size="50" required>
                    <input class="create" type="tel" name="phone-num" placeholder="Phone Number*" pattern="[0-9]{10}" required>
                </div>
            </div>
            <div class="row account">
                <div class="col-lg-6 col-md-1">
                    <input class="create" type="password" name="password" placeholder="Password* (8+ characters)" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                    <input class="create" id="personal-quote" name="quote" placeholder="Enter your favorite mantra (optional)">
                </div>
            </div>
        </div>

        <div class="row account">
          <div class="col-12 accnt">
            <button id="account-btn" type="submit"><strong>Create Account</strong></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>
</html>


  <!-- <div id="requirement-details">
                <small><em>Must contain at least 1 number and 1 uppercase and lowercase letter, and at least 8 or more characters</em></small>
            </div> -->

  <!-- pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" -->

            <!-- <div class="container">
                <form id="login" onsubmit="process(event)">
                  <p>Enter your phone number:</p>
                  <input id="phone" type="tel" name="phone" />
                  <input type="submit" class="btn" value="Verify" />
                </form>
            </div><br> -->

            <!-- <div>
            <label for="phone">Enter your phone number:</label>
            
                <input type="tel" id="phone" name="phone"
                    pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                    required>

                <small>Format: 123-456-7890</small>
            </div> -->