{% extends 'base.html' %}
{% block title %} {% endblock %}

{% block head %} {% endblock %}

{% block body %}
<div class="favorites-container">
<div class="fav-profile-header">
    <h1 class="fav-profile-header">Your Favorites</h1>
</div>


{% for fav_meditation in fav_meditations %}
<div class="col-lg-6 col-md-12 col-sm-12 favorites">
  <div class="track-name-container">  
    <p class="fav-num">{{ loop.index }}. </p>
    <h4 class="fav-track-name" id="fav-track-name">{{ fav_meditation.track_name }}</h4>
    <p class="fav-track-artist" id="fav-artist-name"><em>{{ fav_meditation.artist_name }}</em></p>
  </div>
  <div class="track-artist-container">
    <img src="{{ fav_meditation.image_url }}" width="300px" height="300px">
  </div>
  <div class="btn-container">
    <a class="btn-link" href="{{ fav_meditation.spotify_url }}" target="_blank">
      <button class="fav-btns">Play</button>
    </a> 
    <button class="heart-btn btn-dark" value="{{ fav_meditation.meditation_id }}">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
      <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
      </svg></button>
  </div>
  </div><br>

{% endfor %}

{% if fav_meditations|length == 0 %}
<div class="no-favorites-container">
  <h3 class="no-favorites-header">You have no favorites at the moment</h3>
</div>
{% endif %}

{% endblock %}

{% block script %}
<script src="/static/js/meditation_preview.js"></script>
<script src="/static/js/favorites.js"></script><!--
<script src="/static/js/order_meditations.js"></script>-->
{% endblock %}



 <!-- <div id="play-buttons">
  </div> -->

  <!-- <div>
    <iframe src="{{ fav_meditation.preview_link }}" allowtransparency="true"></iframe>
  </div>
  <div> -->
    <!-- <script src="https://sdk.scdn.co/spotify-player.js"></script> -->

    <!-- <ul>
    <li class="fav-meditations-list"></li>
</ul> -->