{% extends 'base.html' %}
{% block title %} {% endblock %}

{% block head %} {% endblock %}

{% block body %}

<h1>Social Hour</h1>
  <p>Time to connect, inspire, and motivate one another!</p>
  <p>With community we thrive... Let's Connect!</p>

<ul>
    <!-- <li><a href="">Friend 1</a></li> -->
  <li>Friend 1</li>
  <li>Friend 2</li>
  <li>Friend 3</li>
</ul>
<div class="searchbar">
  <form action="/friend-search-results" method=POST class="d-flex" id="search-bar">
    <input class="form-control me-2" 
      type="search" 
      name="search-input"
      placeholder="Find Friends"  
      aria-label="Search">
    &nbsp;<button class="btn btn-outline-secondary" type="submit">Search</button>
  </form>
</div>
<!-- <button action="/search-friends" method=POST>Find Friends</button> -->

{% endblock %}