{% extends 'base.html' %}
{% block title %} {% endblock %}

{% block head %} {% endblock %}

{% block body %}

<h1><strong>Your Journal</strong></h1>
<p><em>Set your intentions. It's time to soar! Please fill in all fields. </em></p><br>

<div>
    <form id="journal-input">
        
        <div class="all-mood-buttons">
          <h3>Mood Check-in</h3>
          <p>How are you feeling?</p>
          <div class="selected-mood"></div>
          <div class="row">
            <div class="col-4">
              <button class="mood-button" id="anxious" name="anxious" value="anxious #c22ed0">Anxious</button>
            </div>
            <div class="col-4">
              <button class="mood-button" id="calm" name="calm" value="calm #b7cbff">Calm</button>
            </div>
            <div class="col-4">
              <button class="mood-button" id="depleted" name="depleted" value="depleted #f2ecb6">Depleted</button>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <button class="mood-button" id="discouraged" name="discouraged" value="discouraged #a96f44">Discouraged</button>
            </div>
            <div class="col-4">
              <button class="mood-button" id="energized" name="energized" value="energized #e3ff73">Energized</button>
            </div>
            <div class="col-4">
              <button class="mood-button" id="fearful" name="fearful" value="fearful #af6480">Fearful</button>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <button class="mood-button" id="frustrated" name="frustrated" value="frustated #e0364f">Frustrated</button>
            </div>
            <div class="col-4">
              <button class="mood-button" id="happy" name="happy" value="happy #fea858">Happy</button>
            </div>
            <div class="col-4">
              <button class="mood-button" id="inspired" name="inspired" value="inspired #ef33b1">Inspired</button>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <button class="mood-button" id="overwhelmed" name="overwhelmed" value="overwhelmed #fa5f40">Overwhelmed</button>
            </div>
            <div class="col-4">
              <button class="mood-button" id="sad" name="sad" value="sad #0c7bb3">Sad</button>
            </div>
            <div class="col-4">
              <button class="mood-button" id="tired" name="tired" value="tired #7dc387">Tired</button>
            </div>
          </div>
        </div><br>

        <div>
          <h3>Gratitude</h3>
          <div>
            <label>List 3 things you are grateful for today:</label>
          <div><br>
          <div>
            <span>1. <input type="text" id="gratitude-1" required></span>
          </div><br>
          <div>
            <span>2. <input type="text" id="gratitude-2" required></span>
          </div><br>
          <div>
            <span>3. <input type="text" id="gratitude-3" required></span>
          </div><br>
        </div><br>

        <div>
          <h3>Let It Flow</h3>
          <div>
            <label>Write reflections on today's session:</label>
          </div>
          <textarea class="journal-field" id="journal-input" name="journal-entry" required></textarea>
        </div>
        
        <div>
          <button id="journal-submission">Submit Entry</button>
        </div>
  
    </form>
</div>

{% endblock %}

{% block script %}
<script src="/static/js/journal.js"></script>
{% endblock %}