{% extends 'base.html' %}
{% block title %} {% endblock %}

{% block head %} 
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="/static/js/mood_graph.js"></script>
{% endblock %}

{% block body %}

<h1>Connect with Yourself</h1><br>
<form action="/journal-prompt">
  <button>Make a Journal Entry</button>
</form><br>
<h3><Your past reflections></h3>

{% if journal_count == 1 %}
<p>You have logged your first entry! Continue your self-reflections to see them broad scope.</p><br>

{% elif journal_count > 1 %}
<p>You have logged {{ journal_count }} journal entries!</p><br>

{% else %}
<p id="no-entries" value="no-entries">Make your first journal entry to see an overview of your reflections.</p><br>

{% endif %}

<div id="calendar_basic" style="width: 1000px; height: 350px;"></div>
<div>
  <form action="/journal-search-results" method="POST">
    <input type="text" name="journal-search" placeholder="Search for journal entry by month">
    <button id="journal-search">Search</button>
  </form>
</div><br>
<div>
  <button id="show-journal-entries">View all Journal Entries</button>
</div>
<div id="display-entries-container"></div>

{% endblock %}

{% block script %}
<script src="/static/js/journal.js"></script>
{% endblock %}