{% extends 'base.html' %}
{% block title %}Details{% endblock %}

{% block head %} 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
{% endblock %}

{% block body %}

{% if exists == True %}

<div class="row display-container liked-meditation">
  <div class="col-5 display">
  <h1 class="display-track-name">{{ display_meditation.track_name }}</h1>
  <p class="display-track-artist"><em>{{ display_meditation.artist_name }}</em></p>

  <div>
    <img class="display-img" src="{{ display_meditation.image_url }}" width="300px" height="300px">
  </div>

  <div>
    <button class="heart-btn btn-dark" value="{{ display_meditation.meditation_id }}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
      <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
    </svg></button>
  </div>

    <!-- <form action="{{display_meditation.preview_link}}" target="_blank">
      <button>Preview</button>
    </form> -->

  <!-- <div class="display-preview">
    <iframe src="{{ display_meditation.preview_link }}" allowtransparency="true"></iframe>
  </div> -->

  <div>
    <!-- <script src="https://sdk.scdn.co/spotify-player.js"></script> -->
  </div>

  <div>
    <a href="{{ display_meditation.spotify_url }}" target="_blank">
      <button class="catalog-btns"><strong>Play</strong></button>
    </a> 
  </div> 

</div>


{% else %}

<div class="row display-container">
  <div class="col-5 display">
    <h1 class="display-track-name">{{ display_meditation.track_name }}</h1>
    <p class="display-artist-name"><em>{{ display_meditation.artist_name }}</em></p>

    <div class="display-img">
      <img src="{{ display_meditation.image_url }}" width="300px" height="300px">
    </div>

    <div>
      <button class="heart-btn btn-light" value="{{ display_meditation.meditation_id }}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
      </svg>
      </button>
    </div>
    
   <!--  <div class="display-preview">
      <iframe src="{{ display_meditation.preview_link }}" allowtransparency="true"></iframe>
    </div> -->

    <div>
      <!-- <script src="https://sdk.scdn.co/spotify-player.js"></script> -->
    </div>

    <div class="catalog-btns">
      <a href="{{ display_meditation.spotify_url }}" target="_blank">
        <button class="catalog-btns" data-modal-target="#modal" id="play-meditation"><strong>Play</strong></button>
      </a>
      <!-- <button data-modal-target="#modal" id="play-meditation">Play</button> -->
      <div class="modal" id="modal">
        <div class="modal-header">
          <div class="title">Complete Your Check-in"
          </div>
          <button data-close-button class="close-button">&times;</button>
        </div>
        <div class="modal-body">
          <a href="/journal">
            Reflect on today's meditation session.
            <button class="journal">Make a journal entry</button>
          </a>
        </div>
    </div> 
    <div id="overlay">
    </div>

  </div>


{% endif %}
  <div class="col-7 display">
    <div>
      <p class="tip-header">Wellness Tip</p>
      <span  class="wellness-tip">{{ random_tip.wellness_tip }}</span>
    </div>
  </div>
</div>

{% endblock %}

{%block script%}
<script src="/static/js/favorites.js"></script>
<script src="/static/js/modal.js"></script>
{%endblock%}