{% extends 'base.html' %}
{% block title %} {% endblock %}


{% block head %} 


  <!-- <script src="https://cdn.jsdelivr.net/npm/d3-selection@3"></script>
  <script>
  
  const div = d3.selectAll("div");
  
  </script> -->
 

<!-- <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> -->
<!-- <script src="/static/js/chart.js"></script>-->


{% endblock %}

{% block body %}

<div class="profile-header">
    <h1>Welcome Back, {{user.fname.capitalize()}}!</h1>
</div><br>
  
<div class="profile-container">

  <div>
    <h1>Self-Care</h1>
      <h4>Check-in with yourself. Pause and Reflect. Record today's thoughts and feelings.</h4>
      <a href="/journal">
      <p><em>Set your intentions.</em></p>
      </a>
  </div><br>

  <div>
    <h1>Your Favorites</h1>
      <h4>Recenter and Reconnect. Spend time with comforting familiars. Magic awaits.</h4>
      <a href="/favorites">
      <p><em>Jump back in!</em></p>
      </a>
  </div><br>
  
</div>

    
 



<!-- <div id="chartDiv" style="width: 740px;height: 700px;margin: 0px auto">
</div> -->

<!-- <div id="chartDiv" style="max-width: 740px;height: 600px;margin: 0px auto">
</div> -->

<!-- <canvas id="test-chart"></canvas> -->

<!-- <script>
  const testChart = new Chart(
    document.querySelector('#test-chart'),
    {
      type: 'bar',
      data: {
        labels: ['does', 'this', 'work'],
        datasets: [
          {data: [2, 4, 8]}
        ]
      }
    }
  );
</script> -->

{% endblock %}

