{% extends 'base.html' %}
{% block title %} {% endblock %}

{% block head %} {% endblock %}

{% block body %}

<div class="profile-header">
    <h1>Welcome Back, {{user.fname.capitalize()}}!</h1>
</div><br>
  
<div class="profile-container">
  <div>
    <h2>"{{ random_quote.inspo_quote }}"</h2>
    {% if random_quote.author == " " %}
    <br>
    {% else %}
    <p><em>- {{ random_quote.author }}</em></p>
  </div><br>
  {% endif %}
  
  <div>
    <h1>Today's Suggested Meditation</h1>
      <h4>{{ random_meditation.track_name }}</h4>
      <p><em>{{ random_meditation.artist_name }}</em></p>
      <a href="/meditation/{{ random_meditation.meditation_id }}">
      <img src="{{ random_meditation.image_url }}" width="300px" height="300px">
      </a>
    <div>
      <form action="/meditation/{{ random_meditation.meditation_id }}">
        <button>Discover More</button>
      </form>
    </div>
  </div><br>

  <div>
    <h1>Self-Care</h1>
      <h4>Check-in with yourself. Pause and Reflect. Record today's thoughts and feelings.</h4>
      <a href="/journal">
      <p><em>Set your intentions.</em></p>
      </a>
  </div><br>


  <div>
    <h1>Your Favorites</h1>
      <h4>Recenter and Reconnect. Spend time with comforting familiars. Magic awaits.</h4>
      <a href="/favorites">
      <p><em>Jump back in!</em></p>
      </a>
  </div><br>


  
</div>

{% endblock %}
<!-- <p>Hello, {{user.fname.capitalize()}}!</p> -->