{% extends 'base.html' %}
{% block title %} {% endblock %}


{% block head %} 


  <!-- <script src="https://cdn.jsdelivr.net/npm/d3-selection@3"></script>
  <script>
  
  const div = d3.selectAll("div");
  
  </script> -->
 

<!-- <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> -->
<!-- <script src="/static/js/chart.js"></script>-->


{% endblock %}

{% block body %}
<div class="profile-container">
<div class="profile-header">
    <h1 class="profile-header">Welcome back, {{user.fname.capitalize()}}!</h1>
</div><br>
  

<div class="row profile">
  <div class="col-8 profile">
    <h1 class="profile-subheaders">Self-Care</h1>
      <h4 class="profile-text">Check-in with yourself. Pause and Reflect. Record today's thoughts, feelings or observations.</h4>
      <a href="/journal">
      <p class="profile-link"><em>Set your intentions.</em></p>
      </a>
  </div><br>
</div>

<div class="row profile">
  <div class="col-8 profile">
    <h1 class="profile-subheaders">Your Favorites</h1>
      <h4 class="profile-text">Recenter and Reconnect. Spend time with comforting familiars. Magic awaits.</h4>
      <a href="/favorites">
      <p class="profile-link"><em>Jump back in!</em></p>
      </a>
  </div><br>
</div>

<div class="row profile">
  <div class="col-8 profile">
    <h1 class="profile-subheaders">Explore</h1>
      <h4 class="profile-text">Uncover more gems. Your inner self awaits.</h4>
      <a href="/meditation-catalog">
      <p class="profile-link"><em>Free your mind.</em></p>
      </a>
  </div><br>
</div>
</div>
</div>

    
 



<!-- <div id="chartDiv" style="width: 740px;height: 700px;margin: 0px auto">
</div> -->

<!-- <div id="chartDiv" style="max-width: 740px;height: 600px;margin: 0px auto">
</div> -->

<!-- <canvas id="test-chart"></canvas> -->

<!-- <script>
  const testChart = new Chart(
    document.querySelector('#test-chart'),
    {
      type: 'bar',
      data: {
        labels: ['does', 'this', 'work'],
        datasets: [
          {data: [2, 4, 8]}
        ]
      }
    }
  );
</script> -->

{% endblock %}

