{% extends 'base.html' %}
{% block title %} {% endblock %}

{% block head %} {% endblock %}

{% block body %}

<div>
  <h2>Let's make mindfulness a habit!</h2>
</div>

<!-- <div id="app-calendar"></div> -->

<!-- <div> <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FLos_Angeles&title=Mindful%20Moments%20Reminders&src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%237986CB" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div> -->

<h4>Schedule a reminder</h4>

<div>
  <form id="reminder">
    
    <div>
      <label>Your reminder description:</label>
      <input type="text" id="reminder-description">
    </div><br>

    <div>
      <label>Reminder type:</label>
      <select name="reminder-type" id="reminder-type">
        <option name="meditate" value="Meditate">Meditate</option>
        <option name="journal" value="Journal">Journal</option>
        <option name="meditate-and-journal" value="Meditate and Journal">Meditate and Journal</option>
        <option name="inspirational-message" value="Inspirational Message">Inspirational Message</option>
      </select>
    </div><br>

    <div>
      <input type="datetime-local" id="reminder-time" required>
    </div><br>

    <div>
      <button id="submit-reminder">Submit</button>
      <span class="missing-field"></span>
    </div>
    
  </form>
</div>


<div class="recently-added-reminders"></div>

<!--Reminders appear chronologially with closest date at the top-->
{% if reminders|length == 0 %}
<h5 class="no-reminders">You have no upcoming reminders</h5>
{% endif %}

{% if reminders %}
<h3 id="reminders-header">Your Reminders:</h3>
{% for reminder in reminders %}
<div class="display-reminders">
  <div class="reminder">
    <ul>
        <li>Reminder to: {{reminder.reminder_type}} on {{reminder.date}}</li>
        {% if reminder.description|length > 0 %}
        <p>Details: {{reminder.description}}</p>
        {% elif reminder.description|length == 0 %}
        <p>Details: None</p>
        {% endif %}
        <button class="remove-reminder" value="{{reminder.notification_id}}">Delete Reminder</button>
        <p>{{reminder.notification_id}}</p>
    </ul>
</div>
</div>

{% endfor %}
{% endif %}

{% endblock %}

{%block script%}
<script src="/static/js/reminders.js"></script>
{%endblock%}

<!--how to slice with jinja >>> {{reminder.reminder_type[:4]}} -->