{% extends 'base.html' %}
{% block title %} {% endblock %}

{% block head %} {% endblock %}

{% block body %}

  
<div class="suggested-meditation-container">

  <div>
    <h1 id="suggested-meditation">SUGGESTED MEDITATION</h1>
    <p id="line">__________________________________</p>
  </div>

  <div>
      <h4 id="random-title">{{ random_meditation.track_name }}</h4>
      <p id="random-artist"><em>{{ random_meditation.artist_name }}</em></p>
      <a href="/meditation/{{ random_meditation.meditation_id }}">
        <img class="track-img" id="random-img" src="{{ random_meditation.image_url }}">
      </a>
      <span>
        <audio 
          <source class="audio-preview" id="random-audio-preview" src="{{ random_meditation.preview_link }}"></source>
        </audio>
      </span>
    </div>    

    <div class="track-btns">
        <a href="{{ random_meditation.spotify_url }}" target="_blank">
          <button id="random-track-btn">Explore this track</button>
        </a> 
    </div>

    <!-- <div>
        <form action="/profile/{{user_id}}">
            <button>My Profile</button>
        </form>
    </div> -->
  </div>

  </div>
  
</div>

{% endblock %}

{% block script %}
<script src="/static/js/meditation_preview.js"></script>
{% endblock %}