{% extends 'base.html' %}
{% block title %} {% endblock %}

{% block head %} {% endblock %}

{% block body %}

  
<div class="suggested-meditation-container">

  <div>

    <h1>Today's Suggested Meditation</h1>
      <h4>{{ random_meditation.track_name }}</h4>
      <p><em>{{ random_meditation.artist_name }}</em></p>
      <a href="/meditation/{{ random_meditation.meditation_id }}">
      <img src="{{ random_meditation.image_url }}" width="300px" height="300px">
      </a>
      <span>
        <audio id="audio-preview" src="{{ random_meditation.preview_link }}"></audio>
      </span>

    <div>
        <a href="{{ random_meditation.spotify_url }}" target="_blank">
        <button>Explore this track</button>
      </a> 
    </div>

    <div>
        <form action="/profile/{{user_id}}">
            <button>My Profile</button>
        </form>
    </div>

  </div>
  
</div>

{% endblock %}

{% block script %}
<script src="/static/js/meditation_preview.js"></script>
{% endblock %}